/* Ini CSS External */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin-top: 80px;
    /*background-color: lavender;*/
}

.main-header {
    top: 0;
    left: 0;
    position: fixed;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(2, 71, 26);
    /*background-image: linear-gradient(0deg, ghostwhite, transparent);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-company {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background-image: url("../assets/Icon_Aliya.jpeg");
    background-size: cover;
    border-radius: 50%;
}

nav {
    display: flex;
    margin-right: 20px;
}

nav>a {
    border: 1px solid;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.no-border-radius {
    border-radius: 0px;
}

.no-border-radius-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

.no-border-radius-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

main>header {
    text-align: center;
    height: 150px;
    align-content: center;
}

.main-content {
    display: flex;
    gap: 24px;
    
}

.main-container {
    border: 0px solid;
    flex: 1;
    align-content: center;
    text-align: center;
    background-color: darkblue;
    background-image: linear-gradient(100deg, #6c6cf9, transparent);
    border-radius: 20px;
    padding: 20px;
}



#produk-kami-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
}

.produk-kami-content {
    color: white;
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
    background-color: rgb(2, 71, 26);
    background-image: linear-gradient(0deg, #6c6cf9, darkblue);
    border-radius: 20px;
    padding: 20px;
}

#tipe-produk{
    border: outset;
    padding: 5px;
    border-radius: 8px;
}

#pesanan-section>header {
    height: 100px;
    align-content: center;
    text-align: center;    
}

.pesanan-content {
    align-content: center;
    text-align: center;
    background-color: #cd5c5c;
    background-image: linear-gradient(180deg, #fda6a6, transparent);
    gap: 5px;
    border-radius: 20px;
    padding: 20px;
}

.table-section {
    text-align: center;
    margin: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    width: 33.33%;
}

th {
    background-color:darkblue;
    color: white;
    font-weight: bold;
}

td {
    color: black;
}

tr {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    transition: 0.3s;
}

.contact-us {
    background-color: white;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pilih-produk {
    background-color: #cd5c5c;
    background-image: linear-gradient(180deg, #fda6a6, transparent);
    border-radius: 20px;
    padding: 20px;
}

.pilih-produk h3 {
    margin-top: 10;
}

.pilih-produk form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pilih-produk label {
    font-weight: bold;
}

.pilih-produk input,
.pilih-produk select,
.pilih-produk button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

.pilih-produk button {
    background-color: rgb(2, 71, 26);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.pilih-produk button:hover {
    background-color: #555;
}

footer {
    color: white;
    width: 100%;
    background-color: rgb(2, 71, 26);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.slideshow-container {
    position: relative;
    max-width: 45%;
    margin: auto;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

@media (max-width: 750px) {
    .prev, .next {
        font-size: 16px;
        padding: 5px;
        
    }
}