/* Ini CSS External */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin-top: 80px;
}

.main-header {
    top: 0;
    left: 0;
    position: fixed;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1000;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-company {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background-image: url("../assets/Icon_Aliya.jpeg");
    background-size: cover;
    border-radius: 50%;
}

nav {
    display: flex;
    margin-right: 20px;
}

nav>a {
    border: 1px solid;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.no-border-radius {
    border-radius: 0px;
}

.no-border-radius-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

.no-border-radius-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

main>header {
    text-align: center;
}

.main-content {
    display: flex;
    gap: 24px;
}

.main-container {
    border: 1px solid;
    height: 400px;
    flex: 1;
    align-content: center;
    text-align: center;
}

#produk-kami-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: aliceblue;
}

.produk-kami-content {
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}

#tipe-produk{
    border: outset;
    padding: 5px;
    border-radius: 8px;
}

#call-us-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: antiquewhite;
}

.call-us-content {
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}



footer {
    text-align: center;
}